<ion-view>
  <ion-content class="wisteria-bg">
    <div class="row responsive-md padding">
      <div class="col-50 col-offset-25">
        <div class="light-bg padding">
          <!--<h1 class="text-center">Consumidor</h1>-->
          <form name="userForm">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Sobrenome</span>
                <input type="text" placeholder="Sobrenome">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">CPF</span>
                <input type="text" placeholder="CPF">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Senha">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Confirme a Senha</span>
                <input type="password" placeholder="Confirme a Senha">
              </label>
            </div>
            <button class="button button-block button-outline button-wisteria">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
