<ion-view hide-nav-bar="true" ng-controller="SigninFormController as ctrl">
  <ion-content padding="true" class="wisteria-bg">
    <div class="row row-center responsive-md padding center">
      <div class="col col-50 col-offset-25">
        <h1 class="text-center cararra">Consumidor</h1>
        <form ng-submit="ctrl.signinConsumer()">
          <md-content class="wisteria-bg md-no-momentum">
            <md-input-container class="md-block">
              <input ng-model="ctrl.consumer.cpf" type="text" placeholder="CPF" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
              <input ng-model="ctrl.consumer.password" type="password" placeholder="Senha" ng-required="true">
            </md-input-container>
          </md-content>
          <md-button data-tap-disabled="true" type="submit"
                     class="md-raised md-primary">Entrar
          </md-button>
        </form>
        <button class="button button-block button-clear"
                ui-sref="account.consumer.signup">Cadastrar-se
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
