<ion-view ng-controller="ConsumerSignupCtrl as ctrl">
  <ion-content class="dark-bg">
    <div class="row responsive-md padding">
      <div class="col-50 col-offset-25">
        <div class="light-bg padding">
          <!--<h1 class="text-center">Consumidor</h1>-->
          <form name="userForm" ng-submit="ctrl.signup()">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">CPF</span>
                <input type="text" placeholder="CPF"
                       ng-model="ctrl.consumer.cpf"
                       required />
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome"
                       ng-model="ctrl.consumer.firstName"
                       required />
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Sobrenome</span>
                <input type="text" placeholder="Sobrenome"
                       ng-model="ctrl.consumer.lastName"
                       required />
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email"
                       ng-model="ctrl.consumer.email"
                       required />
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Senha"
                       ng-model="ctrl.consumer.password"
                       required />
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Confirme a Senha</span>
                <input type="password" placeholder="Confirme a Senha"
                       ng-model="ctrl.consumer.confirmPassword"
                       required />
              </label>
            </div>
            <button type="submit" class="button button-block button-outline button-wisteria">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
