.translucid {
  & {
    overflow: hidden;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;

    filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
  }
}

.wisteria {
  & {
    color: $wisteria;
  }
  &-bg {
    background-color: $wisteria;
  }
}

.cararra {
  & {
    color: $cararra;
  }
  &-bg {
    background-color: $cararra;
  }
}

md-input-container .md-input {
  border-color: dimgray;
}
