<ion-view hide-nav-bar="true" id="tutorial">
  <ion-content scroll="false">
    <ks-swiper-container initial-slide="0" loop="false" pagination-is-active="true"
                         pagination-clickable="true" show-nav-buttons="false"
                         slides-per-view="1" space-between="0">
      <ks-swiper-slide class="swiper-slide">
        <div background-image="http://api.randomuser.me/portraits/thumb/men/1.jpg">
          <ion-footer-bar class="bar-clear">
            <button class="button button-outline" ui-sref="account.provider.signin">Provedor</button>
            <button class="button button-outline" ui-sref="account.consumer.signin">Consumidor</button>
          </ion-footer-bar>
        </div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide">
        <div background-image="http://api.randomuser.me/portraits/thumb/men/2.jpg"></div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide">
        <div background-image="http://api.randomuser.me/portraits/thumb/men/3.jpg"></div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide">
        <div background-image="http://api.randomuser.me/portraits/thumb/men/4.jpg"></div>
      </ks-swiper-slide>
      <ks-swiper-slide class="swiper-slide">
        <div background-image="http://api.randomuser.me/portraits/thumb/men/5.jpg">
        </div>
      </ks-swiper-slide>
    </ks-swiper-container>

  </ion-content>
</ion-view>

